<div class="card">
    <header class="card-header has-background-success is-shadowless">
        <p class="card-header-title is-centered has-text-centered is-size-5-mobile">
            <font class="is-size-6-mobile">{{ device.data.kind }}</font>
            <button class="info-icon" data-target="modal-device">
                <span class="icon has-text-white-bis is-size-6-mobile">
                    <i class="fas fa-info-circle" aria-hidden="true"></i>
                </span>
            </button>
        </p>
    </header>
    <div class="card-content has-text-centered">
        <div class="field is-grouped is-grouped-multiline is-grouped-centered">
           {{#each device.hazards}}
           <p class="control">
               <button class="hazards" data-target="hazard-{{hazard.id}}">
                   <span class="tag is-medium is-danger">
                       {{hazard.name}}
                   </span>
               </button>
           </p>
           {{/each}}
        </div>

        <div class="field mt-6 is-grouped is-grouped-multiline is-grouped-centered">
            {{#each device.inputs}}
            <p class="control">
            {{#if (eq input.kind "Bool")}}
                {{> button }}
            {{/if}}
            {{#if (eq input.kind "RangeF64")}}
                {{> slider }}
            {{/if}}
            </p>
            {{/each}}
        </div>
    </div>
</div>
