<div id="modal-{{ this.data.kind }}-{{ this.info.metadata.id }}" class="modal">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="box">
      <p>{{ this.data.kind}} Info</p>
      <!-- Your content -->
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>
