<div id="modal-{{ device.data.kind }}-{{ device.metadata.id }}" class="modal">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="box">
      <p>{{ device.data.kind}} Info</p>
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>
